@model DPEnergy.DataModelLayer.ViewModels.DMS.BasicInformation.D_ContractorViewModel
@using DPEnergy.CommonLayer.PublicClass
@{
    ViewData["Title"] = "AddContractor";
}
<div class="content">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Basic Information</a></li>
            <li class="breadcrumb-item"><a href=" @Url.Action("Index", "Contractor") ">Contractor</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Contractor</li>
        </ol>
    </nav>
    <div class="panel panel-heading" style="box-shadow:3px 1px 1px 0 gray; border-radius:2px;">
        <span style="font-weight:bold;">
            <i class="glyphicon glyphicon-list"></i>
            Add  Contractor
        </span>
    </div>


    <div class="panel panel-body container-fluid" style="border-radius:2px; box-shadow:3px 1px 1px 0 gray; background-color:#dae7f4;">
        <form asp-controller="Contractor" asp-action="AddContractor" method="post" enctype="multipart/form-data">

            <div class="col-md-6 col-md-offset-3">
                <!--CompanyName-->
                <div>
                    <label asp-for="CompanyName" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="CompanyName" type="text" class="form-control custominput" placeholder="Title..." autocomplete="off" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                </div>
                <!--ManagerName-->
                <div>
                    <label asp-for="ManagerName" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="ManagerName" type="text" class="form-control custominput" placeholder="Title..." autocomplete="off" />
                        <span asp-validation-for="ManagerName" class="text-danger"></span>
                    </div>
                </div>
                <!--Company Phpne-->
                <div>
                    <label asp-for="CompanyPhone" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="CompanyPhone" type="text" class="form-control custominput" placeholder="Title..." autocomplete="off" />
                        <span asp-validation-for="CompanyPhone" class="text-danger"></span>
                    </div>
                </div>
                <!--Email-->
                <div>
                    <label asp-for="Email" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="Email" type="text" class="form-control custominput" placeholder="Title..." autocomplete="off" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <!--Fax-->
                <div>
                    <label asp-for="Fax" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="Fax" type="text" class="form-control custominput" placeholder="Title..." autocomplete="off" />
                        <span asp-validation-for="Fax" class="text-danger"></span>
                    </div>
                </div>
                <!--PostalCode-->
                <div>
                    <label asp-for="PostalCode" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="PostalCode" type="text" class="form-control custominput" placeholder="Title..." autocomplete="off" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
                <!--CompanyType-->
                <div>
                    <label asp-for="CompanyType" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <select asp-for="CompanyType" class="form-control selectpicker custominput" id="select-CompanyType" data-live-search="true" style="direction: ltr">
                            <option value="" selected="@(Model==null || (Model!= null && Model.CompanyType == null))" disabled hidden>Select Company Type</option>
                            <option data-tokens="Client" value="Client" selected='@(Model!=null &&  Model.CompanyType == "Client")'>Client</option>
                            <option data-tokens="Consultant" value="Consultant" selected='@( Model!=null && Model.CompanyType == "Consultant")'>Consultant</option>
                            <option data-tokens="Contractor" value="Contractor" selected='@( Model!=null && Model.CompanyType == "Contractor")'>Contractor</option>
                            <option data-tokens="DesignContractor" value="DesignContractor" selected='@( Model!=null && Model.CompanyType == "Design Contractor")'>Design Contractor</option>
                        </select>

                        <div>   </div>
                    </div>
                </div>
                <!--Address-->
                <div>
                    <label asp-for="Address" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="Address" type="text" class="form-control custominput" placeholder="Title..." autocomplete="off" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-xs-12 form-group" style="margin-top:15px;">
                    <input type="submit" style="border:1px solid gray; border-radius:3px;"
                           value="Submit" class="btn pull-right" />
                </div>
            </div>

        </form>
    </div>
</div>
@section DMSScripts{

    <script>
     console.log('Model:',@Html.Raw(Json.Serialize(Model)));
    </script>


}